/* CUSTOM-PROPS */
:root {

}

/* FONT-FACE  */


/* GLOBAL-STYLES  */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #fff;
  color: #222;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}


/* FOCUS-STYLES  */
*:focus {
  outline: 3px dashed var(black);
  outline-offset: 3px;
}

/* CONTAINER  */
.container {
  max-width: 1200px;
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
}


/* VISUALLY-HIDDEN  */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* MAIN-CONTENT  */
.main-content {
  flex-grow: 1;
}
.wall{
  display: flex;
  justify-content: center;
  align-items: center;
}
.block{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 20px solid red;
  width: 600px;
  height: 600px;
  height: 100%;
  background-image: url(../img/coffee-width-cake.jpg);
}
.block-left{
  width: 280px;
  height: 600px;
  border: 15px ridge rgb(116, 116, 171);
  box-sizing: border-box;
  background-color:antiquewhite ;
  transition: transform 0.5s ease;
  transform-origin: left center;
}
.rom:hover .block-left{
  transform: perspective(2000px) rotateY(-120deg);
}
.block-right{
  border: 15px ridge rgb(116, 116, 171);
  width: 280px;
  height: 600px;
  box-sizing: border-box;
  background-color:antiquewhite ;
  transition: transform 0.5s ease;
  transform-origin: right center;
}
.rom:hover .block-right{
  transform: perspective(2000px) rotateY(120deg);
}